---
---

<style>
    /* FOOTER */

footer {
    margin-top: 5px;
}

.texto {
    text-align: center;
}

@media (max-width: 800px) {
    footer {
        display: none;
    }
}


</style>



<footer>
    <hr>

    <div class="texto">
        <b><a data-tooltip="Soporte" class="secondary" href="https://fwrd.lol/RabbitSoporte" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-discord"></i></a> <a  data-tooltip="Invitame" class="secondary" href="https://fwrd.lol/RabbitBot" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-plus"></i></a> <a href="/tos"  data-tooltip="Terminos de servicio" class="secondary" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-question"></i></a> <a data-tooltip="Politica de privacidad" href="/privacy"  class="secondary" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-user-secret"></i></a></b>
    <br>
    <b>¿Hay algun error en esta página? Reportalo <a href="/report-error" class="secondary" target="_blank" rel="noopener noreferrer">aqui</a></b>
    </div>
</footer>