---
---

<style>
    nav {
        margin-top: 15px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 5px;
        
    }

    strong {
        font-size: 24px;
    }

    a:hover {
      text-decoration: none;
      cursor: pointer;
    }

</style>

<nav>
    <ul>
      <li><a href="/"><strong>Rabbit</strong></a></li>
    </ul>
    <ul>
        <li><a class="secondary" href="https://fwrd.lol/RabbitSoporte"><i class="fa-brands fa-discord"></i></a></li>
        <li><a class="secondary" id="change-theme"><i id="icon-theme" class="fa-solid fa-sun"></i></a></li>
     
      
        
        <details class="dropdown">
          <summary>
            Menu
          </summary>
          <ul dir="rtl">
             <li><a href="/docs">Documentacion</a></li>
            <li><a href="/tos" >Terminos de Servicio</a></li>
            <li><a href="/privacy">Politica de privacidad</a></li>
            <li><a href="/team">Equipo</a></li>
            <li><a href="/contact">Contacto</a></li>
            <li><a href="/report-error">Reportar error</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </nav>

  <hr>

  

  <script src="../scripts/theme.js"></script>