---

---

<style>

/* HERO */




.hero {
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
}

.start-now {
    width: 500px;
    margin: 15px;
    align-self: center;
    text-align: center;
}



.start-now a {
    display: flex;
    justify-content: center;
 
}

.start-now i {
    padding-right: 5px;
}

span {
    color: #f69c14;
}

h1 {
    font-size: 50px;
}

</style>


<main>
    <div class="hero">
   
        <div class="start-now">
            <h1>Rabbit es un bot <br><span class="typed"></span>.</h1>
            <hr>
            <a href="/docs"><div role="button" data-tooltip="Entra a la documentacion"><i class="fa-solid fa-book"></i> ¡Empieza hoy!</div></a>
            
        </div>
        
    </div>
</main>






<script src="../scripts/hero.js"></script>