---

---


<style>
    .privacy-container {
        width: 100%;
        height: 90vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

   

   

    header {
        text-align: center;
        margin-top: 20px;
    }

    .privacy-open {
        text-align: center;
    }
    
    footer {
        text-align: center;
    }
</style>

<div class="privacy-container">


    <div class="privacy-open">
        <h2>Politica de Privacidad de Rabbit</h2>
        <hr>
        <center>
            <button id="button" data-tooltip="Politica de Privacidad Articulo" class="primary">Click aqui</button>
        </center>
    </div>




   
</div>

<dialog>
    <article>
      <header>
        <button id="close" aria-label="Close" rel="prev"></button>
        <h2>
          <strong>Politica de privacidad</strong>
        </h2>
      </header>
      <h4>1. Introducción:</h4>
      <hr>
      <p>Esta Política de Privacidad describe cómo <strong>Rabbit</strong> recopila, utiliza y protege la información personal de los usuarios que interactúan con el bot. Al utilizar <strong>Rabbit</strong>, aceptas los términos de esta política.</p>
      <h4>2. Información que Recopilamos:</h4>  
      <hr>
      <p><li><strong>Información proporcionada por el usuario:</strong> Nombre de usuario de Discord, ID de usuario, mensajes enviados al bot, comandos utilizados, y cualquier otra información que el usuario elija proporcionar.</li></p>
      <p><li><strong>Información automáticamente recopilada:</strong> Datos técnicos como la versión de Discord, el servidor en el que se utiliza el bot, y registros de actividad.</li></p>
      <footer>Al usar el bot estas <strong>aceptando la politica de privacidad.</strong></footer>
    </article>
  </dialog>
  <!-- HACER ESTO -->

  <script src="../scripts/privacy.js"></script>