---

---

<style>

.container {
    width: 100%;
    height: 240vh;
    text-align: center;
}

h2 {
    display: flex;
    justify-content: flex-start;
    color: #239898;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.ceo {
    margin: 15px;

}

.devs {
    margin: 15px;
}




</style>

<div class="container">
    <div class="grid">
        <div class="ceo">
            <h2>CEO</h2>
            <article>
                <header>LaixDev</header>
                <img src="https://cdn.discordapp.com/avatars/1187858383047499820/1761d3c59aa4a4172c861bf82afd6713.webp" alt="Avatar de LaixDev">
                <hr>
                <p>CEO de Rabbit Bot</p>
                <footer><a href="https://www.paypal.me/AdriaSanchezAcosta" target="_blank" rel="noopener noreferrer" class="secondary"><i class="fa-brands fa-paypal"></i></a> <a href="https://www.instagram.com/_adriasanchez__/?__pwa=1" target="_blank" class="secondary" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a></footer>
            </article>
            <article>
                <header>EstefDev</header>
                <img src="https://cdn.discordapp.com/avatars/717963226913964126/1a2f6f5f5277665ffe6e466f3e5a1552.webp" alt="Avatar de EstefDev">
                <hr>
                <p>CEO de Rabbit Bot</p>
                <footer><a href="https://fwrd.lol/RabbitSoporte" target="_blank" class="secondary"><i class="fa-brands fa-discord"></i></a> <a href="#" target="_blank" rel="noopener noreferrer" class="secondary"><i class="fa-solid fa-earth-europe"></i></a></footer>
            </article>
        </div>

        <div class="devs">
            <h2>Developers</h2>
            <article>
                <header>Espiroaka</header>
                <img src="https://images-ext-1.discordapp.net/external/5vWvWqIzWpveK1KLQKXsMn5C8yVJdmjDXwJ1d_1L2KY/https/cdn.discordapp.com/avatars/755913151693717556/1ef09c72e6a97014c0442974cc76cfec.webp?animated=true" alt="Avatar de Espiroaka">
                <hr>
                <p>Developer de Rabbit Bot</p>
                <footer><a href="https://discord.gg/pakosarmy" target="_blank" class="secondary"><i class="fa-brands fa-discord"></i></a></footer>
            </article>

            <article>
                <header>kvnjr</header>
                <img src="https://images-ext-1.discordapp.net/external/ZvG9-y3OlSBS3L81dUeqoX1XD_goFgUUNWla0_T7D9I/https/cdn.discordapp.com/avatars/720111341829881936/f817927a982546381284e611142dab60.webp?animated=true" alt="Avatar de kvnjr">
                <hr>
                <p>Developer de Rabbit Bot</p>
                <footer>Ninguna red social por poner.</footer>
            </article>

            <article>
                <header>Nia</header>
                <img src="https://cdn.discordapp.com/avatars/1033160523044376616/0d0a9353fcfcb5a8419514fd9a8531c1.png?size=2048" alt="Avatar de Nia">
                <hr>
                <p>Developer de Rabbit Bot</p>
                <footer><a href="https://cinammon.es" target="_blank" rel="noopener noreferrer" class="secondary"><i class="fa-solid fa-earth-europe"></i></a></footer>
            </article>

            <article>
                <header>Johny</header>
                <img src="https://images-ext-1.discordapp.net/external/EgQh3v1iz7ghKnedq4jK51rLn1XMsqGeFgGYs0fbm8k/https/cdn.discordapp.com/avatars/566978609911169051/e1333c4ad1df94a81e959fa6b1bab37e.webp?animated=true" alt="Avatar de Johny">
                <hr>
                <p>Developer de Rabbit Bot</p>
                <footer><a href="https://x.com/Johnny_Ender3" target="_blank" rel="noopener noreferrer" class="secondary"><i class="fa-brands fa-x-twitter"></i></a></footer>
            </article>
            
        </div>
      </div>
</div>